NODE_ENV=development
PORT=3003
HOST=0.0.0.0

ALLOWED_HOST=renenutet.57regiment.local
CORS_ORIGINS=http://hermes.57regiment.local:5173,http://foxwatcher.57regiment.local:5173

DATABASE_URL="postgresql://user:password@localhost:5432/renenutet"

KRANG_SERVICE_URL=http://krang.57regiment.local:3002
WANSHITONG_SERVICE_URL=http://wanshitong.57regiment.local:3001